/* FONT FAMILY */
body{
    margin: 0;
}
/* MENU */
/* HEADER */
.img{
    background-color: rgb(169, 168, 168);
}
.img img{
    width:100%;
    height: 300px;
}
/* TEXT */
.div2{
    padding-top: 30px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    background-color: rgb(169, 168, 168);
}
.div2P{
    text-align: center;
}
.div2H1{
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    font-weight: 400px;
}
/* SERVICES */
/* IMG LEFT */
.imgLeft{
    display: flex;
    align-items: center;
    width: 100%;
}
.imgLeftP{

}

/* IMG RIGHT */