html{
    font-family: 'Lato', sans-serif;
}
body{
    margin: 0;
}
hr{
    width: 97%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#menu{
    background-color: rgb(169, 168, 168);
    padding: 5px;
}
#menu a{
    color: white;
    padding-left: 15px;
    font-size: larger;
    text-decoration: none;
}
#menu img{
    width: 30px;
}
#services{
    width: 100%;
    display: flex;
    align-items: center;

}
#servicesBox h1{
    text-align: center;
}
#services div{
    width: 33%;
    text-align: center;
}
#services div img{
    width: 30%;
}
#product2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
#pcInfo{
    background-color: rgb(169, 168, 168);
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
}